page-notifications{
  ion-list{
    p{
      color: #000 !important;
      font-size: 1.8rem !important;
    }

    span{
      color: lighten(color($colors, primary), 10%);
      font-size: 1.5rem;
    }
  }
}
