<ion-header>
  <ion-navbar hideBackButton="true" color="primary" *ngIf="hideSearchBar">
    <ion-buttons left>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end (click)="toggleNavBar()">
      <button ion-button icon-only>
      <ion-icon name="search"></ion-icon>
    </button>
    </ion-buttons>
    <ion-title>
      Moderators
    </ion-title>
  </ion-navbar>

  <ion-navbar hideBackButton="true" color="primary" *ngIf="!hideSearchBar">
    <ion-searchbar [(ngModel)]="query" autocomplete="on" showCancelButton="true" (ionClear)="onIonClear()" placeholder="Search" color="primary" #searchBar></ion-searchbar>
  </ion-navbar>

</ion-header>

<ion-content class="outer-content" padding-bottom>
  <ion-list>
    <div *ngFor="let user of users | search : query : filterKeys; let l = count">
      <ion-item #userList *ngIf="user.status">
        <user-card [params]="{uid: user.uid}" [navPush]="moderatorPage" [navParams]="{uid:user.uid}"></user-card>
        <button *ngIf="user.status == 'pending'" ion-button item-right color="light" (click)="resendInvite(user)">Resend</button>
        <ion-icon name="ios-arrow-forward-outline" item-right></ion-icon>
      </ion-item>
    </div>
    <no-results *ngIf="l<1" icon="person" text="No moderators found"></no-results>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-fab right bottom>
    <button ion-fab color="primary" [navPush]="pushPage"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
</ion-footer>
