footer-tabs {
  ion-footer.footer {
    background-color: color($colors, light);
  }

  .footer-tab-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
