<div *ngIf="user.email">
  <text-avatar [text]="user.avatarText" class="float-left"></text-avatar>
  <div *ngIf="user.status == 'accepted'">
    <span>{{user.firstName}} {{user.lastName}}</span>
    <p color="primary">{{user.email}}</p>
  </div>
  <div *ngIf="user.status == 'pending'">
    <span>{{user.email}}</span>
    <p color="danger">Invitation pending</p>
  </div>
</div>
