page-otp,
page-login {
  .toolbar-background-ios {
    border: 0 !important;
  }

  .div-text {
    text-align: center;
    margin: 10px 0;
  }

  .div-text > span {
    background-color: lighten(color($colors, primary), 15%) !important;
    display: inline-block;
    padding: 2px;
    width: 30px;
    height: 30px;
    font-size: 100%;
    border-radius: 50%;
  }

  .logo {
    text-align: center;
    margin: auto;
  }

  .logo {
    text-align: center;
    height: inherit;
    margin: auto;
    // padding: 15px;
    overflow: hidden;
    height: 30vh;
  }

  img.imageLogo {
    max-width: 100% !important;
    height: 100%;
    width: fit-content;
  }
  // ion-slide#main-slide {
  //   background-image: url("../assets/img/inqude.jpg");
  //   background-position: right bottom;
  //   background-repeat: no-repeat;
  //   background-size: cover;
  // }
  .slide-zoom {
    overflow: scroll !important;
    height: inherit;
  }

  .multiline-text {
    white-space: normal!important;
  }

  .multiline-text ion-label {
    white-space: normal!important;
    margin: 0;
  }

  .scroll-content {
    overflow-y: scroll !important;
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
  }

  .content-md,
  .content-md h2,
  .content-md p,
  .item-ios,
  .item-ios p {
    color: white !important;
  }

  input.text-input {
    color: #000000;
  }

  input.text-input::placeholder {
    color: #000000;
    font-size: 3.5rem;
  }

  ion-footer {
    position: fixed;
  }

  ion-header,
  ion-toolbar {
    border: none;
    color: white;
  }

  ion-toolbar a {
    color: white;
    text-decoration: underline;
  }

  ion-row {
    text-align: -webkit-center;
  }

  .forgot-password-label {
    float: right;
    color: black;
    font-size: smaller;
    margin-top: 20px;
    margin-bottom: 12px;
  }
}
