<ion-item-sliding *ngIf="this.file">
  <ion-item (click)="viewFile(file)">
    <ion-avatar item-left>
      <div class="file-icon" attr.filetype="{{this.extension}}">
        <span class="fileCorner"></span>
      </div>
    </ion-avatar>
    <h2>{{file.fileName}} </h2>
    <p> Size:  {{this.fileSize}} </p>
  </ion-item>
  <ion-item-options side="right" [hidden]="!args.delete">
    <button ion-button color="danger" (click)="deleteFile(file.id)">
    <ion-icon name="trash"></ion-icon>
    Delete
  </button>
  </ion-item-options>

</ion-item-sliding>
