page-add-user {
  .selected-user {
    background-color: #ebebeb !important;

    ion-icon.icon {
      color: #c7bdbd !important;
    }

    ion-icon.icon:before {
      content: "\f2b9";
    }
  }
}
