page-event-list,
page-event-moderator-list,
single-event,
speaker-detail {
  div.event-day {
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: -10px;
  }

  .scroll-content {
    background-color: #eee;
  }

  .spacer {
    font-size: 0;
    height: 45px;
    line-height: 0;
  }

  .agenda-view {
    .divider-text {
      text-align: center;
      background-color: #eee;
      font-size: 1.6em;
      border-top: 0;
    }

    .event-group {
      .label {
        margin-bottom: 0;
        margin-right: 0;
        display: flex;
        flex-direction: row;
      }
    }

    .date-container {
      display: flex;
      padding: 10px 20px;
      flex-direction: column;
      align-items: center;

      .date {
        font-size: 1.8em;
      }

      .day {}
    }

    .item {
      padding: 0 !important;
    }

    .event-container {
      width: 100% !important;

      * {
        font-size: 0.95em;
      }

      .event-box {
        box-shadow: 1px 1px 3px silver;
        background-color: white !important;
        padding: 15px 10px 15px 15px !important;
        margin-bottom: 10px;
        display: flex;
        align-items: stretch;
        flex-direction: column;
        white-space: normal;
      }

      .event-timings {
        margin-bottom: 8px;
        color: grey;
      }

      .event-name {
        font-size: 1.1em;
        font-family: sans-serif;
      }

      .event-venue {
        color: rgba(2, 124, 255, 0.9);
      }
    }
  }

  div.time {
    display: inline-block;
    float: left;
    border-right: 1px dashed lighten(color($colors, dark), 65%);
    padding: 25px 15px 5px 3px;
    margin-right: 15px;
    width: 90px;
    color: #000000 !important;
    text-align: left;
  }

  div.event-day {
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: -10px;
  }

  .event-location {
    color: lighten(color($colors, dark), 20%);
  }

  .event-location span {
    padding: 2px 0 0 2px;
    display: inline-block;
    color: color($colors, primary);
    border-radius: 3px;
  }

  .progress-bar {
    height: 5px !important;
    background-color: darken(color($colors, light), 10%);
    display: inline-block;
    width: 150px;
    margin-top: 3px;
    position: absolute;
    border-radius: 5px;
    overflow: hidden;
  }

  .progress-bar div {
    height: 5px;
    color: white;
    -webkit-transition: width 1s ease-out;
    -moz-transition: width 1s ease-out;
    -o-transition: width 1s ease-out;
    transition: width 1s ease-out;
  }

  .past-event {
    .calendar {
      border: 2px solid #dedede !important;

      .month {
        background-color: #999 !important;
      }
    }
  }
}
