<ion-header>
  <ion-navbar color="primary">
    <ion-title>Edit Account</ion-title>
    <ion-buttons left>
      <button ion-button icon-only menuToggle="left"><ion-icon name="menu"></ion-icon></button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button clear (click)="updateUser()" [disabled]="editModeratorForm.invalid || isEqual(temp, user)">Save</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <form #editModeratorForm="ngForm" novalidate>
      <ion-item>
        <ion-label stacked color="primary">First Name</ion-label>
        <ion-input [(ngModel)]="user.firstName" type="text" name="firstName" required>
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked color="primary">Last Name</ion-label>
        <ion-input [(ngModel)]="user.lastName" type="text" name="lastName" required>
        </ion-input>
      </ion-item>
      <br/>
      <ion-item-divider>
        Update Password
      </ion-item-divider>
      <ion-item>
        <ion-label stacked color="primary">New Password</ion-label>
        <ion-input [(ngModel)]="user.password" type="password" name="password">
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked color="primary">Confirm Password</ion-label>
        <ion-input [(ngModel)]="user.confirmPassword" type="password" name="confirmPassword">
        </ion-input>
      </ion-item>
      <ion-item-divider>
        Update Email
      </ion-item-divider>
      <ion-item>
        <ion-label stacked color="primary">Email</ion-label>
        <ion-input [(ngModel)]="user.newEmail" type="email" name="newEmail" pattern="[A-Za-z0-9._%+-]{3,}@[a-zA-Z]{3,}([.]{1}[a-zA-Z]{2,}|[.]{1}[a-zA-Z]{2,}[.]{1}[a-zA-Z]{2,})">
        </ion-input>
      </ion-item>
    </form>
  </ion-list>
</ion-content>
