<div class="cardWrap">
  <div class="card cardLeft">
    <h1>Your ticket</h1>
    <div class="title">
      <h2>{{ event.Name }}</h2>
      <span [color]="primary">Event</span>
    </div>
    <div class="name">
      <h2>{{ user.firstName }} {{ user.lastName }}</h2>
      <span [color]="primary">name</span>
    </div>
    <div class="flexy-container">
      <div class="date">
        <h2>{{  event.EventStartDate | date:'dd MMM, yyyy' }}</h2>
        <span [color]="primary">date</span>
      </div>
      <div class="time">
        <h2>{{ event.EventStartDate | amDateFormat:'hh:mm A' }}</h2>
        <span [color]="primary">time</span>
      </div>
      <!-- <div>
        <h2>{{ event.EventVenue }}</h2>
        <span [color]="primary">venue</span>
      </div> -->
    </div>

  </div>
  <div class="card cardRight">
    <h1>QR code</h1>
    <div class="number">
      <h3><qr-code *ngIf="uid" [value]="uid" [size]="100" ></qr-code></h3>
    </div>
  </div>
</div>
