single-event {
  .event-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .progress-bar {
    height: 5px !important;
    background-color: darken(color($colors, light), 10%);
    display: inline-block;
    width: 150px;
    margin-top: 3px;
    position: absolute;
    border-radius: 5px;
    overflow: hidden;
  }

  .progress-bar div {
    height: 5px;
    color: white;
    background-color: #8BC34A !important;
    -webkit-transition: width 1s ease-out;
    -moz-transition: width 1s ease-out;
    -o-transition: width 1s ease-out;
    transition: width 1s ease-out;
  }
}
