page-speaker-add {
  .center {
    order: 3;
    margin-left: 10%;
    margin-top: -33px;
  }

  .back-button{
    display: inline-block;
  }

  .no-scroll .scroll-content {
    overflow: hidden;
  }

  .left {
    margin-left: 0;
  }

  .ion-buttons[start] {
    order: 2;
    margin-top: 8px;
  }
  .input-cover{
    margin-left: 20%;
  }
  ion-input{
    margin-left: 7px;
  }
}
