<ion-item-sliding>
  <ion-item (click)="viewPersona(persona)">
    <ion-avatar item-left>
      <img [src]="persona.picture ? persona.picture : 'assets/img/user.png'" [imageCache]="persona.picture"/>
    </ion-avatar>
    <h2>{{persona.firstName}} {{persona.lastName}}</h2>
    <p>{{persona.designation}}</p>
  </ion-item>

  <ion-item-options side="right" [hidden]="!args.delete">
    <button ion-button color="danger" (click)="deletePersona(persona.id)">
    <ion-icon name="trash"></ion-icon>
    Delete
  </button>
  </ion-item-options>

</ion-item-sliding>
