<ion-split-panel>
  <!-- logged in menu -->
  <ion-menu [content]="content" persistent="true">
    <!-- <ion-menu [content]="content" persistent="true" *ngIf="showMenu"> -->
    <ion-content class="outer-content" class="menu">

      <ion-list>
        <ion-list-header color="light" (press)="flushData()">
          Menu
        </ion-list-header>
        <div *ngIf="menuPages.length">
          <button ion-item menuClose *ngFor="let page of menuPages" [clickAction]="page" clickType="menu">
          <ion-icon [name]="page.icon" [color]="isActive(page)" item-left></ion-icon>
          <h2>{{page.title}}</h2>
        </button>
        </div>
        <!-- <div>
          <button ion-item menuClose [clickAction]="'CalenderEventListPage'" clickType="menu">
          <ion-icon [name]="'calendar'" [color]="isActive(CalenderEventListPage)" item-left></ion-icon>
          <h2>{{page.title}}</h2>
        </button>
        </div> -->
      </ion-list>

      <ion-list>
        <ion-list-header color="light">
          Accounts
        </ion-list-header>
        <button ion-item menuClose *ngFor="let page of accountPages" (click)="openPage(page)">
        <ion-icon [name]="page.icon" item-left></ion-icon>
        <h2> {{page.title}} </h2>
      </button>
      </ion-list>

    </ion-content>
  </ion-menu>

  <!-- main navigation -->
  <ion-nav #content swipeBackEnabled="false" main></ion-nav>

</ion-split-panel>
