single-event-new {
  .event-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .event-box {
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-between;
    flex-flow: nowrap;
  }

  .event-data-container {
    flex: 1 1 auto;
    width: 70% !important;
  }

  .dot {
    height: 10px;
    width: 10px;
    // background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
  }

  .ticket-button {
    white-space: normal;
    padding: 0 !important;
    height: 18px !important;
    width: 75% !important;
    margin-top: 10px !important;
    /* font-family: Robot; */
    font-size: 0.8em !important;
    /* font-weight: bold; */
  }

  .registered-status-dot {
    color: #e58c08 !important;
  }

  .registered-status-dot .dot {
    background-color: #e58c08 !important;
  }

  .attended-status-dot {
    color: #1e871c !important;
  }

  .attended-status-dot .dot {
    background-color: #1e871c !important;
  }

  .interested-status-dot {
    color: #0888ed !important;
  }

  .interested-status-dot .dot {
    background-color: #0888ed !important;
  }

  .cancelled-status-dot .dot {
    background-color: #ff5722 !important;
  }

  .cancelled-status-dot {
    color: #ff5722 !important;
  }

  .status {
    font-size: 1.25rem !important;
    padding-bottom: 5px;
  }

  .ticket-container {
    flex: 1 1 auto;
    text-align: right !important;
    width: 30% !important;
  }
}
