page-post-add {
  img {
    min-width: 580 px !important;
    min-height: 256 px !important;
  }

  p {
    margin-top: 0 !important;
  }
  // component-banner-post p {
  //   margin-top: 0 !important;
  // }
  button.button.button-md.button-outline.button-outline-md {
    height: 26px;
    // width: 80%;
  }

  .title {
    text-align: center;
  }
}
