page-home {
  $smallScreen: 600px;
  $largeScreen: 1024px;

  p {
    white-space: pre-wrap !important;
  }

  .timestamp {
    float: right;
    display: inline-block;
    color: color($colors, primary);
    font-size: small;
  }

  .ticket-icon {
    background-image: url("../../assets/icon/ticket.png");
    background-size: 36px;
    display: inline-block;
    width: 36px;
    height: 36px;
    margin-right: 5px;
  }

  ion-content {
    background-color: #efefef !important;
  }

  ion-card {
    background-color: #ffffff;
  }

  .card-header-md,
  ion-card-header {
    padding: 8x !important;
  }

  ion-card.yellow {
    background-color: #f3dd8a;
    border: 1px solid #daa70e;
  }

  .img-button {
    width: 10%;
    height: 10%;
  }

  .larger {
    font-size: 35px !important;
  }

  ion-grid,
  ion-grid > ion-row,
  ion-grid > ion-row > ion-col {
    margin: 0 !important;
    padding: 0;
  }

  .home-slide-image {
    height: 120px;
    background-position: center 150px;
    text-align: center;
  }

  .slide-image {
    max-height: 50% !important;
    max-width: 100% !important;
    margin: 18px 0;
  }

  ion-slide.slider {
    height: 30% !important;
    margin-top: 10px;
    @media (max-width:$smallScreen) {
      margin-top: -13px;
    }
    @media(min-width:$largeScreen) {
      margin-top: -17px;
    }
  }

  .custom {
    cursor: pointer;
    text-decoration: none;
    font-family: Arial;
    width: 85px;
    display: block;
    text-align: center;
  }

  .custom:active {
    background: rgba(224, 224, 224, 0.76);
  }

  .button-bootom-text {
    margin: auto;
  }

  .buttonIcon {
    height: 4.6rem !important;
    font-size: 2.4rem !important;
  }

  .centerGrid {
    text-align: -webkit-center;
    margin-top: 40px;
  }

  .IconButton {
    font-size: -webkit-xxx-large;
  }

  .notificationIcon {
    float: right;
    box-shadow: none !important;
  }

  .notificationBadge {
    margin-top: -17px;
    background-color: #ff4747;
  }

  .newsfeed-update-button {
    position: fixed;
    text-align: center;
    z-index: 100;
    width: 100%;
  }

  .newsfeed-update-button button {
    padding-bottom: 3px;
    font-size: 15px;
    box-shadow: 1px 3px 2px silver;
  }
}

button {
  text-transform: none !important;
}
