<ion-header>
  <ion-navbar hideBackButton="true" color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Pages</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="pages.length">
    <ion-item (click)="viewPage(page.id)" *ngFor="let page of pages">
      <h2 color="primary">{{page.title}}</h2>
    </ion-item>
  </ion-list>

  <no-results *ngIf="!pages.length" icon="alert" text="No pages found, <br/>Create one now"></no-results>

  <ion-fab bottom right #fab (click)="createPage()" [showFor]="'admin'">
    <button ion-fab><ion-icon name="add" ></ion-icon></button>
  </ion-fab>
</ion-content>
