<ion-header>
  <ion-navbar color="primary">
    <ion-title>Details</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="showActionSheet()" [showFor]="'admin,moderator'">
       <ion-icon name="more"></ion-icon>
     </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-list no-lines>
    <profile-card [persona]="speaker"></profile-card>
    <social-links [data]="speaker"></social-links>
    <ion-item-divider color="light" no-lines>About</ion-item-divider>
    <!-- <div padding [innerHTML]="speaker.description" clickLink [data]="speaker.description"></div> -->
  </ion-list>

  <ion-list>

    <div *ngIf="speaker.sessions && speaker.sessions.length > 0">
      <ion-list-header>
        Sessions
      </ion-list-header>
      <!-- <schedule-card [sessionData]="session" *ngFor="let session of speaker.sessions" [options]="{showDateLabel:true, showDetailsView:true}"></schedule-card> -->
    </div>
  </ion-list>
</ion-content>
