post-card {
  .customCardItem {
    max-height: 60px !important;
  }

  ion-icon.icon.icon-md.ion-md-time {
    margin-right: 2px;
  }

  moment-ago {
    margin-left: 4px;
  }

  ion-badge.badge.badge-md {
    float: right;
  }

  ion-col {
    margin-bottom: 0 !important;
  }

  span.top-header-label {
    padding: 5px 8px;
    border-radius: 0 3px;
    display: inline-block;
    margin-bottom: 5px;
    font-size: 1.5rem;
    color: #fff;
    float: right;
  }

  .poll-background .list {
    margin-bottom: 0 !important;
  }
}
