<div class="img-container"></div>
<div class="blur"></div>
<div class="avatar">
  <ion-avatar [ngClass]="getClass()" (click)="changePicture()">
      <img *ngIf="!persona.picture" src="assets/img/user.png" class="big">
      <img *ngIf="persona.picture" [src]="persona.image" class="big" [imageCache]="persona.picture">
  </ion-avatar>
  <div class="name">{{persona.Name }}</div>
</div>
