<ion-header>
  <ion-navbar color="primary">
    <ion-title>Details</ion-title>
  </ion-navbar>
</ion-header>

<ion-content *ngIf="speaker">

  <ion-list no-lines>
      <profile-card [persona]="speaker"></profile-card>
      <social-links [data]="speaker"></social-links>
      <ion-item-divider color="light" no-lines *ngIf="speaker.description">About</ion-item-divider>
      <div padding [innerHTML]="speaker.description" *ngIf="speaker.description"></div>
  </ion-list>

  <ion-list>
    <ion-list-header color="light">
      Events
    </ion-list-header>
    <single-event [params]="allEvents[speakerEventId]" *ngFor="let speakerEventId of speakerEventIds"></single-event>
  </ion-list>
</ion-content>
